@font-face {
    font-family: "titre";
    src: url("fonts/lineto-brown-bold.woff2") format("woff2");
}
@font-face {
    font-family: "link";
    src: url("fonts/lineto-brown-light.woff2") format("woff2");
}
@font-face {
    font-family: "para";
    src: url("fonts/lineto-brown-regular.woff2") format("woff2");
}
::-webkit-scrollbar{
    width: 0;
}
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,p{
    font-family: "para";
}
h1,h2{
    font-family: "titre";
}
body{
    padding-top: 90px;
}
.main{
    width: 100%;
}
.menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.menu ul{
    display: flex;
}
.menu li{
    margin: 0 0 0 20px;
    list-style-type: none;
}
.menu a{
    position: relative;
    padding: 10px;
    text-decoration: none;
    color: #000;
}
.notif::after{
    content: "5";
    width: 18px;
    height: 18px;
    font-size: 11px;
    right: 0;
    top: 0;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    background-color: #333;
    font-family: "para";
    align-items: center;
    color: #fff;
    border-radius: 50%;
    transform: translate(40%,-40%);
}
.logo p{
    font-size: 2em;
    font-weight: bold;
}
.titre{
    font-size: 6em;
    color: #000;
}
.en_tete{
    width: 100%;
    height: 640px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    align-content: center;
}
.en_tete img{
    width: 330px;
    height: 440px;
}
.en_tete h1{
    position: relative;
    font-size: 8em;
    padding-bottom: 20px;
}
.anime_texte{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.en_tete p{
    font-size: 2em;
}
.anime_texte::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #000;
    left: 0;
    bottom: 0;

}
.cerles{
    position: absolute;
    width: 44.28%;
    height: 760px;
    top: 0;
    right: 80px;
    z-index: -1;
}
.cerles > div{
    position: absolute;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    background-color: rgb(74, 237, 194);
}
.c1{
    left: 0;
    top: 0;
    transform: translateY(-50%);
}
.c2{
    right: 0;
    top: 0;
}
.c3{
    left: 0;
    top: 41%;
    transform: translateY(-50%);
}
.c4{
    right: 0;
    top: 62%;
    transform: translateY(-50%);
}
.c5{
    bottom: 0;
    left: 0;
}
.galerie{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    height: 850px;
    padding: 15px;
}
.long_image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.petit_image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding-top: 15px;
}
.long_image div,.petit_image div{
    position: relative;
    background-position: center;
    background-size: cover;
}
.img_g1{
    background: url("bubka_img/6137BUB-BAM-congres_Presa_16x9_EN-frame-button_9ad18c49fa6f683ebe59adb1925c1948.jpg");
}
.img_g2{
    background: url("bubka_img/Bubka-Agency-Of-Yhe-Year-thumb-small2_9ad18c49fa6f683ebe59adb1925c1948.jpg");
}
.img_g3{
    background: url("bubka_img/BUBKA-Work-Bosto-Header_2021-02-01-144930_9ad18c49fa6f683ebe59adb1925c1948.jpg");
}
.img_g4{
    background: url("bubka_img/schaap_443077cf890fe3a7fc7d94aee8b2d81b.jpg");
}
.img_g5{
    position: relative;
    background: rgb(74, 237, 194);
}
.img_g5:hover{
    cursor: pointer;
}
.view{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    color: #000;
    font-size: 17px;
    border-radius: 13% 13% 14% 12% / 48% 50% 48% 48%;
    padding-right: 40px;
    overflow: hidden;
    transition: color 0.6s;
}
.img_g5:hover .view{
    color: #fff;
}
.view::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: #000;
    border-radius: 13% 13% 14% 12% / 48% 50% 48% 48%;
    z-index: -1;
    transition: 0.5s;
}
.img_g5:hover .view::after{
    transform: translateX(0);
}
.fleche{
    position: relative;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: #000;
    border-radius: 50%;
    z-index: 10;
}
.texte_anime h2{
    font-size: 9em;
}
.dark_back{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    background: none;
    cursor: pointer;
    transition: .2s;
}
.texte_dark{
    overflow: hidden;
}
.dark_back .h2{
    transform: translateY(70px);
    font-size: 2.2em;
    width: 57%;
    margin: 20px 0;
    opacity: 0;
    color: #fff;
    transition: 0.3s;
}
.petit_image .dark_back .h2{
    width: 90%;
}
.dark_back .p{
    font-size: 1.3rem;
    opacity: 0;
    transform: translateY(30px);
    color: rgb(74, 237, 194);
    transition: 0.3s;
}
.dark_back:hover .p{
    transform: translateY(0);
    opacity: 1;
    transition: 0.4s .35s;
}
.dark_back:hover .h2{
    transform: translateY(0);
    opacity: 1;
    transition: 0.4s .2s;
}
.dark_back:hover{
    background: rgba(0, 0, 0, 0.671);
}