@font-face {
    font-family: "titre";
    src: url("fonts/lineto-brown-bold.woff2") format("woff2");
}
@font-face {
    font-family: "link";
    src: url("fonts/lineto-brown-light.woff2") format("woff2");
}
@font-face {
    font-family: "para";
    src: url("fonts/lineto-brown-regular.woff2") format("woff2");
}
::-webkit-scrollbar{
    width: 0;
}
*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a,p,button{
    font-family: "para";
}
h1,h2{
    font-family: "titre";
}
body{
    padding-top: 90px;
    background-color: orange;
}
.main{
    width: 100%;
}
.menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.menu ul{
    display: flex;
}
.menu li{
    margin: 0 0 0 20px;
    list-style-type: none;
}
.menu a{
    position: relative;
    padding: 10px;
    text-decoration: none;
    color: #000;
}
.notif::after{
    content: "5";
    width: 18px;
    height: 18px;
    font-size: 11px;
    right: 0;
    top: 0;
    position: absolute;
    display: inline-flex;
    justify-content: center;
    background-color: #333;
    font-family: "para";
    align-items: center;
    color: #fff;
    border-radius: 50%;
    transform: translate(40%,-40%);
}
.logo p{
    font-size: 2em;
    font-weight: bold;
}
.titre{
    font-size: 6em;
    color: #000;
}
.en_tete{
    width: 100%;
    height: 640px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    align-content: center;
}
.en_tete img{
    width: 330px;
    height: 440px;
}
.en_tete h1{
    position: relative;
    font-size: 8em;
    padding-bottom: 20px;
}
.anime_texte{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}
.en_tete p{
    font-size: 2em;
}
.anime_texte::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: #000;
    left: 0;
    bottom: 0;

}
.cerles{
    position: absolute;
    width: 44.28%;
    height: 760px;
    top: 0;
    right: 80px;
    z-index: -1;
}
.cerles > div{
    position: absolute;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    background-color: rgb(74, 237, 194);
}
.c1{
    left: 0;
    top: 0;
    transform: translateY(-50%);
}
.c2{
    right: 0;
    top: 0;
}
.c3{
    left: 0;
    top: 41%;
    transform: translateY(-50%);
}
.c4{
    right: 0;
    top: 62%;
    transform: translateY(-50%);
}
.c5{
    bottom: 0;
    left: 0;
}
.galerie{
    display: grid;
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    height: 850px;
    padding: 15px;
}
.long_image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.petit_image{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    padding-top: 15px;
}
.long_image div,.petit_image div{
    position: relative;
    background-position: center;
    background-size: cover;
}
.img_g1{
    background: url("bubka_img/6137BUB-BAM-congres_Presa_16x9_EN-frame-button_9ad18c49fa6f683ebe59adb1925c1948.jpg");
}
.img_g2{
    background: url("bubka_img/Bubka-Agency-Of-Yhe-Year-thumb-small2_9ad18c49fa6f683ebe59adb1925c1948.jpg");
}
.img_g3{
    background: url("bubka_img/BUBKA-Work-Bosto-Header_2021-02-01-144930_9ad18c49fa6f683ebe59adb1925c1948.jpg");
}
.img_g4{
    background: url("bubka_img/schaap_443077cf890fe3a7fc7d94aee8b2d81b.jpg");
}
.img_g5{
    position: relative;
    background: rgb(74, 237, 194);
}
.img_g5:hover{
    cursor: pointer;
}

.view{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    font-size: 17px;
    border-radius: 13% 13% 14% 12% / 48% 50% 48% 48%;
    padding-right: 40px;
    overflow: hidden;
    transition: color 0.6s;
}
.noir{
    color: #000;
    transition: .5s 0.2s;
}
.btn_anime {
    position: relative;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    border: none;
    background: none;
    overflow: hidden;
    font-size: 1.1em;
}
.noir::before,.noir::after{
    content: "";
    position: absolute;
    transition: 0.6s ease;
    background-color: #000;
    /* background-color: rgb(74, 237, 194); */
    z-index: -1;
}
.blanc::before,.blanc::after{
    content: "";
    position: absolute;
    transition: 0.6s ease;
    background-color: rgb(74, 237, 194);
    z-index: -1;
}
.btn_anime::before{
    width: 50px;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
}
.btn_anime::after{
    width: 0;
    height: 100%;
    top: 0;
    left: 25px;
}
.btn_anime:hover::after{
     width: calc(100% - 50px);
}
.btn_anime:hover::before{
    left: calc(100% - 50px);
}
.noir .fleche_anime{
    background-color: #000;
}
.blanc .fleche_anime{
    background-color: rgb(74, 237, 194);
}
.noir:hover{
    color: #fff;
}
.fleche_anime{
    display: inline-block;
    width: 50px;
    height: 100%;
    margin-right: 15px;
    border-radius: 50%;
    /* background-color: rgb(74, 237, 194); */
}
.img_g5:hover .view{
    color: #fff;
}
.view::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: #000;
    border-radius: 13% 13% 14% 12% / 48% 50% 48% 48%;
    z-index: -1;
    transition: 0.5s;
}
.img_g5:hover .view::after{
    transform: translateX(0);
}
.fleche{
    position: relative;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background-color: #000;
    border-radius: 50%;
    z-index: 10;
}
.flch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flch img{
    width: 10px;
}
.dark_back{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    background: none;
    cursor: pointer;
    transition: .2s;
}
.texte_dark{
    overflow: hidden;
}
.dark_back .h2{
    transform: translateY(70px);
    font-size: 2.2em;
    width: 57%;
    margin: 20px 0;
    opacity: 0;
    color: #fff;
    transition: 0.3s;
}
.petit_image .dark_back .h2{
    width: 90%;
}
.dark_back .p{
    font-size: 1.3rem;
    opacity: 0;
    transform: translateY(30px);
    color: rgb(74, 237, 194);
    transition: 0.3s;
}
.dark_back:hover .p{
    transform: translateY(0);
    opacity: 1;
    transition: 0.4s .35s;
}
.dark_back:hover .h2{
    transform: translateY(0);
    opacity: 1;
    transition: 0.4s .2s;
}
.dark_back:hover{
    background: rgba(0, 0, 0, 0.671);
}
.texte_anime {
    position: relative;
    width: 100%;
    height: 340px;
    margin: 40px 0;
}
.texte_anime h2{
    font-size: 9em;
    position: absolute;
}
.texte_anime .left{
    top: 0;
    left: 0;
    color: rgb(74, 237, 194);
}
.texte_anime .right{
    bottom: 0;
    right: 0;
}
.contener_btn_slide {
    margin: 50px 0;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: end;
}
.cbs2{
    margin: 90px 0;
}
.contener_btn_slide h2{
    font-size: 3.8em;
}
.btns_slides {
    width: 120px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btns_slides div{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.btn_left{
    transform: rotate(180deg);
    background: rgba(74, 237, 193, 0.63);
}
.btn_right{
    background: rgb(74, 237, 194);
}
.caroucel{
    width: 100%;
    height: 476px;
    margin: 30px 0;
    overflow: hidden;
}
.elements_caroucel{
    width: calc(785px * 4);
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,787px);
    gap: 20px;
    padding-left: 20px;
    /* animation: caroucel 5s ease infinite; */
}
.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(74, 237, 194);
    width: 100%;
    height: 100%;
    padding: 0 20px 0 40px;
}
.titre_caroucel{
    font-family: "link";
    font-size: 1.6em;
    line-height: 43px;
    margin-bottom: 50px;
}
.contener_partenaires{
    width: 100%;
    height: 288px;
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.partetenaires{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.part_1 .img_part_4{
    width: 60px;
}
.part_2 .img_part_4{
    width: 75px;
}
.partetenaires img{
    width: 129px;
}
.section_img_para{
    width: 100%;
    height: 591px;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    margin: 50px 0;
}
.section_img_para h2{
    font-size: 3.4em;
    margin-left: 50px;
}
.img_sec_para{
    width: 591px;
    height: 580px;
    background: url("bubka_img/img_para.jpg");
    background-size: cover;
    background-position: -120px 0;
    margin-left: 120px;
}
.section_would{
    width: 100%;
    height: 602px;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    margin: 100px 0;
    /* background: orange; */
}
.texte_sec_would{
    padding: 100px 0 0 120px;
}
.texte_sec_would h2{
    font-size: 3.6em;
    margin-bottom: 40px;
}
.img_would{
    position: relative;
    width: 485px;
    height: 530px;
    background: rgb(74, 237, 194);
}
.staking{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 100px 0 0 120px;
    z-index: 30;
}
.img_would_abs{
    position: absolute;
    width: 330px;
    height: 100%;
    left: 0;
    top: 0;
    transform: translateX(-65%);
    background: url("bubka_img/Glas.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img_would h2{
    font-size: 3.3em;
    margin-bottom: 50px;
}
@keyframes caroucel {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}